.main-header{
	padding: 10px;
	svg{
		font-size: 22px;
	}
}
.nav-btn{
	cursor: pointer;
	display: inline-block;

}
.number{
	position: absolute;
	bottom: 3px;
	left: 0;
	color: @white;
	width: 100%;
	text-align: center;
}
.header-info{
	text-align: right;
	a{
		display: inline-block;
		text-align: right;
		position: relative;
	}
}
.likes{
	svg{
		color: rgb(237, 72, 86);
	}
}
.basket{

}
.search{
	border: none;
	background-color: transparent;
	padding: 0 10px;
}
.header-text{
	text-align: center;
	font-size: 10px;
	display: inline-block;
	vertical-align: middle;
	svg{
		font-size: 24px;
		display: inline-block;
		vertical-align: middle;
		margin: 0 3px;
	}
}
/*--------------ACCORDION-------------*/
.accordion-heading{
	font-weight: 700;
	padding: 15px 10px 15px 10px;
	color: @black;
	display: block;
	&:hover{
		text-decoration: none;
	}
}
.accordion{
	font-size: 14px;

}
.accordion-content{
	
	a{
		color: @black;
		padding: 10px 10px 10px 20px;
		background-color: #dda;
		display: block;
		&:hover{
			text-decoration: none;
		}
	}
}
/*-------------END ACCORDION---------*/